<link rel="stylesheet" type="text/css" href="/styles.css">

<h1>MOVIE APP - <em>SEARCH PAGE</em></h1>

<form action="/results" method="GET">
    <input type="text" placeholder="Enter a search term" name="searchStr">
    <button type="submit">Submit</button>
</form>