<h1>Log In</h1>

<form action='/login' method='POST'>
    <input type='text' placeholder='Username' name='username'>
    <input type='password' placeholder='Password' name='password'>
    <button>Submit</button>
</form>

<li><a href='/register'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<li><a href='/logout'>Log Out</a></li>