<h1>Secret Page</h1>

<p>You got me!</p>
<img src="https://media.giphy.com/media/kMU2BCFB4EEA8/giphy.gif" alt="I farted GIF">

<li><a href='/register'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<li><a href='/logout'>Log Out</a></li>