<!DOCTYPE html>
<html>
    <head>
        <title>RESTful Blog App</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href="/"><i class="paragraph icon"></i><span class="header">Blog App</span></a></div>
                <a href="/" class="item">All Blogs</a>
                <a href="/blogs/new" class="item">New Blog</a>
            </div>
        </div>

